design/
build/*
!build/readme.md

dev/src/pug/mixins.pug
dev/src/js/entry.js
dev/src/scss/style.scss

dev/src/blocks/sprite-svg/img/sprite.svg
dev/src/blocks/sprite-png/sprite-png.scss
dev/src/blocks/sprite-png/img/sprite-*.png

__MACOSX
.Saved/
_arc/
bower_components/
node_modules/
dev/node_modules/
.vscode/
.publish/
.DS_Store
*.log
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
