extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')
  +logout('logout.php', 'Выход')

block content
    +container()
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScwAftvrG3cuUf91f1iaHXPQyJ6rJk7gx71cqQnkkh5ClUnvg/viewform?embedded=true" width="1000" height="3900" frameborder="0" marginheight="0" marginwidth="0" onload="loaded()">Загрузка…</iframe>

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
