//- Все примеси в этом файле должны начинаться c имени блока (logout)

mixin logout(link, text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +logout('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logout--' + modsList[i].trim();
      }
    }

  .logout(class=allMods)&attributes(attributes)
    a(href=link).logout__link=text
      block
