//- Все примеси в этом файле должны начинаться c имени блока (container)

mixin container(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +container('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' container--' + modsList[i].trim();
      }
    }

  .container(class=allMods)&attributes(attributes)
    .container__inner
      block
