-
  var mainMenu = [
    {
      "id": "0",
      "name": "Импорт",
      "url": "import.php"
    },
    {
      "id": "10",
      "name": "Экспорт",
      "url": "export.php",
    },
    {
      "id": "20",
      "name": "Транзит",
      "url": "transit.php"
    },
    {
      "id": "30",
      "name": "Задержание",
      "url": "detention.php"
    }
  ];
