-
  var mainMenu = [
    {
      "id": "0",
      "name": "Импорт",
      "url": "import.html"
    },
    {
      "id": "10",
      "name": "Экспорт",
      "url": "export.html",
    },
    {
      "id": "20",
      "name": "Транзит",
      "url": "transit.html"
    }
  ];
